.navbar {
  height: 64px;
  background: linear-gradient(#0077ff, #1974d2);
}
.navbar__logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}
.navbar__is-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.base__content-container {
  padding-top: 70px;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  min-height: 100vh;
}
.link {
  text-decoration: none;
  padding: 0 4px;
  transition: background 0.2s ease;
}
.link i {
  margin-right: 8px;
}
.link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.user-status {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}
.user-status__username {
  display: flex;
  flex-direction: column;
}
.goods-table {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  background-color: rgba(20, 100, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.goods-table__item {
  padding: 3px;
}

.goods-table__header {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}
