{% extends 'components/base.html' %} {% block title %}Главное меню {% endblock
%} {% block breadcrumbs %}{% include 'components/breadcrumbs.html' %}{% endblock
%} {% block content %}
<div class="container">
  <h1>Товар успешно добавлен в заказ!</h1>
  <div>Заказ: {{ order_id }}</div>
  <div>Количество: {{ quantity }}</div>
  <div>Артикул: {{ good.article }}</div>
  <div>Наименование: {{ good.name }}</div>
  <button id="backButton" class="btn btn-primary">Вернуться в систему</button>
</div>
<script>
  document.getElementById("backButton").addEventListener("click", function () {
    const referrer = document.referrer;
    if (referrer) {
      const separator = referrer.includes("?") ? "&" : "?";
      window.location.href =
        referrer + separator + "reload=" + new Date().getTime();
    }
  });
</script>
{% endblock %}
