{% extends "components/bare.html" %} {% block title %}Вход в систему{% endblock
%} {% block body %}
<div class="container" style="max-width: 500px">
  <div style="height: 20vh"></div>
  <h1>Вход в АИС "Мой склад"</h1>
  <form method="post">
    <div class="input-group has-validation mb-3">
      <input
        type="text"
        class="form-control {{ 'is-invalid' if 'username' in errors else ('is-valid' if 'password' in errors else '') }}"
        id="username"
        name="username"
        value="{{ username }}"
        placeholder="Имя пользователя"
        required
      />
      {% if errors.username %}
      <div class="invalid-feedback">{{ errors.username }}</div>
      {% else %} {% if errors.password %}
      <div class="valid-feedback">Пользователь существует</div>
      {% endif %} {% endif %}
    </div>
    <div class="input-group has-validation mb-3">
      <input
        type="password"
        class="form-control {{ 'is-invalid' if 'password' in errors else '' }}"
        id="password"
        name="password"
        placeholder="Пароль"
        required
      />
      <div class="invalid-feedback">{{ errors.password }}</div>
    </div>
    <div class="form-group form-check mb-3">
      <input type="checkbox" class="form-check-input" id="showpassword" />
      <label class="form-check-label" for="exampleCheck1"
        >Показать пароль</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="account_type"
        value="internal"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1">
        Я чёрт возьми сотрудник
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="account_type"
        value="external"
        id="flexRadioDefault2"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2">
        Я ни дать ни взять покупатель
      </label>
    </div>
    <div style="height: 20px"></div>
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>
  <script>
    var flag = true;
    check = document.getElementById("showpassword");
    check.addEventListener("click", (ev) => {
      if (flag) {
        document.getElementById("password").type = "text";
      } else {
        document.getElementById("password").type = "password";
      }
      flag = !flag;
    });
  </script>
</div>
{% endblock %}
