{% extends 'components/base.html' %} {% block title %}Главное меню {% endblock
%} {% block breadcrumbs %}{% include 'components/breadcrumbs.html' %}{% endblock
%} {% block content %}
<div class="container">
  <h2>Главное меню</h2>

  <div>
    <a class="link" href="/goods"><i class="bi-search"></i>Поиск товаров</a>
  </div>

  {% if g.user %} {% if g.user.role==UserRole.CUSTOMER %}
  <div>
    <a class="link" href="/personal"><i class="bi-person"></i>Личный кабинет</a>
  </div>
  <div>
    <a class="link" href="/my_orders">
      <i class="bi-cart-plus"></i>
      Список моих заказов</a
    >
  </div>
  {% endif %} {% if g.user.role==UserRole.SALES_MANAGER %}
  <div>
    <a class="link" href="/kassa"><i class="bi-safe"></i>Касса</a>
  </div>
  <div>
    <a class="link" href="/active_orders"><i class="bi-list-task"></i>Список активных заказов</a>
  </div>
  <div>
    <a class="link" href="/create_report"><i class="bi-window-plus"></i>Создание отчётов</a>
  </div>
  <div>
    <a class="link" href="/view_report"><i class="bi-card-checklist"></i>Просмотр отчётов</a>
  </div>
  {% endif %} {% if g.user.role==UserRole.SUPPLY_MANAGER %}
  <div>
    <a class="link" href="/"><i class="bi-safe"></i>Добавить поступление</a>
  </div>
  <div>
    <a class="link" href="/"><i class="bi-safe"></i>Добавить номенклатуру</a>
  </div>
  <div>
    <a class="link" href="/view_report"><i class="bi-safe"></i>Просмотр отчётов</a>
  </div>
  <div>
    <a class="link" href="/"><i class="bi-trash"></i>Списание товара</a>
  </div>
  {% endif %} {% if g.user.role==UserRole.WORKER %}
  <div>
    <a class="link" href="/active_orders"><i class="bi-list-task"></i>Список активных заказов</a>
  </div>
  {% endif %} {% endif %}
</div>
{% endblock %}
