{% extends 'base.html' %} {% block title %}Главное меню {% endblock %} {% block
breadcrumbs %}{% include 'components/breadcrumbs.html' %}{% endblock %} {% block
content %}
<div class="container">
  <h2>Личный кабинет</h2>
  <div style="display: flex; flex-direction: column; row-gap: 10px">
    <h3>ИП Жуков Г.В.</h3>
    <div>Уникальный номер клиента: 228</div>
    <div>Адрес: ул. Пушкина, д. Колотушкина, 1234</div>
    <div>Контактный телефон: 8 (800) 555-35-35</div>
    <div>БИК: 12343242234234</div>
    <div>Номер счёта: 22866612345677777</div>
    <div>Наименование банка: АО "Z-Банк" по г.Москве</div>
  </div>
</div>
{% endblock %}
