{% extends 'components/base.html' %} {% block title %}Личный кабинет{% endblock
%} {% block breadcrumbs %}{% include 'components/breadcrumbs.html' %}{% endblock
%} {% block content %}
<div class="container">
  <h2>Личный кабинет</h2>
  <div style="display: flex; flex-direction: column; row-gap: 10px">
    <h3>{{ data[0] }}</h3>
    <div>Уникальный номер клиента: {{ data[1] }}</div>
    <div>Адрес: {{ data[2] }}</div>
    <div>Контактный телефон: {{ data[3] }}</div>
    <div>БИК: {{ data[4] }}</div>
    <div>Номер счёта: {{ data[5] }}</div>
    <div>Наименование банка: {{ data[6] }}</div>
    <div>Дата заключения договора: {{ data[7] }}</div>
  </div>
</div>
{% endblock %}
