{% extends 'components/base.html' %} {% block title %}Работа с отчётами{%
endblock %} {% block breadcrumbs %}{% include 'components/breadcrumbs.html' %}{%
endblock %} {% block content %}
<div class="container">
  {% if create %}
  <h1>Создание отчётов</h1>
  {% else %}
  <h1>Просмотр отчётов</h1>
  {% endif %}
  {% if report_types %} {% for r in report_types %}
  {% if create %}
  <div><a href="/create_report/{{ r.id }}">{{ r.name }}</a></div>
  {% else %}
  <div><a href="/view_report/{{ r.id }}">{{ r.name }}</a></div>
  {% endif %}
  {% endfor %} {% else %} В системе не настроены отчёты! {% endif %}
</div>
{% endblock %}
