{% extends 'components/base.html' %} {% block title %}Главное меню {% endblock
%} {% block breadcrumbs %}{% include 'components/breadcrumbs.html' %}{% endblock
%} {% block content %}
<div class="container">
  <form
    action="#"
    method="get"
    style="display: flex; flex-direction: column; row-gap: 10px; width: 60%"
  >
    <input type="hidden" name="search-filters" value="search-filters" />
    <label for="name">Название товара:</label>
    <input
      class="form-control"
      type="text"
      id="name"
      name="good_name"
      placeholder="Введите название товара"
    />

    <label for="category">Категория:</label>
    <select id="category" name="category_id" class="form-control">
      <option value="">Все категории</option>
      {% for cat in all_categories %}
      <option value="{{ cat.category_id }}">
        {{ cat.category_name }} ({{ cat.goodtypes_count }} товаров)
      </option>
      {% endfor %}
    </select>

    <label for="price-min">Цена от:</label>
    <input
      class="form-control"
      type="number"
      id="price-min"
      name="price-min"
      placeholder="Мин. цена"
      min="0"
    />

    <label for="price-max">Цена до:</label>
    <input
      class="form-control"
      type="number"
      id="price-max"
      name="price-max"
      placeholder="Макс. цена"
      min="0"
    />

    <button type="submit" class="btn btn-primary">Поиск</button>
  </form>
  <div>
    <span style="font-weight: bold; font-size: 1.3rem">Результаты</span>
    <div>Найдено 228 товаров</div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Артикул</th>
        <th scope="col">Наименование SKU</th>
        <th scope="col">Цена</th>
        <th scope="col">Доступно к заказу</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
