{% extends 'components/base.html' %} {% block title %}Главное меню {% endblock
%} {% block breadcrumbs %}{% include 'components/breadcrumbs.html' %}{% endblock
%} {% block content %}
<div class="container" id="app">
  <form
    action="#"
    method="get"
    style="display: flex; flex-direction: column; row-gap: 10px; width: 60%"
  >
    <input type="hidden" name="search-filters" value="search-filters" />
    <label for="name">Название товара:</label>
    <input
      class="form-control"
      type="text"
      id="name"
      name="good_name"
      {% if search_result %}
      value="{{search_result.request_name}}"
      {% endif %}
      placeholder="Введите название товара"
    />

    <label for="category">Категория:</label>
    <select
      id="category"
      name="category_id"
      class="form-control"
    >
      <option value="">Все категории</option>
      {% for cat in all_categories %}
      <option value="{{ cat.category_id }}"
      {%if search_result %}
      {% if search_result.request_cat==cat.category_id %}selected{% endif %}
      {% endif %}
      >
        {{ cat.category_name }} ({{ cat.goodtypes_count }} товаров)
      </option>
      {% endfor %}
    </select>

    <label for="price-min">Цена от:</label>
    <input
      class="form-control"
      type="number"
      id="price-min"
      name="min_price"
      placeholder="Мин. цена"
      {% if search_result %}
      value="{{search_result.request_min_price}}"
      {% endif %}
      min="0"
    />

    <label for="price-max">Цена до:</label>
    <input
      class="form-control"
      type="number"
      id="price-max"
      name="max_price"
      placeholder="Макс. цена"
      {% if search_result %}
      value="{{search_result.request_max_price}}"
      {% endif %}
      min="0"
    />

    <button type="submit" class="btn btn-primary">Поиск</button>
  </form>
  {% if result %}
  <div>
    <span style="font-weight: bold; font-size: 1.3rem">Результаты</span>
  </div>

  {% if search_result %}
  <div>Найдено {{ search_result.total_goods }} товаров</div>
  <ul class="pagination">
    {% for p in search_result.pages %}
    <li class="page-item {% if p == search_result.page %}active{% endif %}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=p, **query_dict) }}">{{ p }}</a>
    </li>
    {% endfor %}
  </ul>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Артикул</th>
        <th scope="col">Наименование SKU</th>
        <th scope="col">Цена</th>
        <th scope="col">Доступно к заказу</th>
        {% if g.user.role==UserRole.CUSTOMER %}
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for good in search_result.goods %}
      <div
        class="modal fade"
        id="{{ good.goodtype_id }}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <form method="post" action="/orders/add_to_cart">
              <input
                type="hidden"
                name="goodtype_id"
                value="{{ good.goodtype_id }}"
              />
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Добавить в корзину
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div><h2>{{ good.name }}</h2></div>
                <div>Артикул: {{ good.article }}</div>
                <div>Цена: {{ good.sell_price }}₽/{{ good.measure_unit }}</div>
                <div>
                  Доступно к заказу: {{ good.available_units }} {{
                  good.measure_unit }}
                </div>
                <label>Сколько заказать?</label>
                <input type="number" name="quantity" />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Отмена
                </button>
                <button type="submit" class="btn btn-primary">Добавить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <tr>
        <th scope="row">{{ good.article }}</th>
        <td>{{ good.name }}</td>
        <td>{{ good.sell_price }}₽/{{ good.measure_unit }}</td>
        <td>{{ good.available_units }} {{ good.measure_unit }}</td>
        {% if g.user.role==UserRole.CUSTOMER %}
        <td>
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#{{ good.goodtype_id }}"
          >
            Добавить в корзину
          </button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div>Не найдено товаров по Вашему запросу!</div>
  {% endif %} {% endif %}
</div>

{% endblock %}
