{% extends "components/bare.html" %} {% block body %}
<nav
  class="navbar navbar-expand-lg"
  style="
    padding-left: 10px;
    padding-right: 25px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  "
>
  <div style="display: flex; flex-direction: row; align-items: center">
    <img src="/static/logo.jpg" class="navbar__logo" />
    <div class="navbar__is-name">АИС "Наш Склад"</div>
  </div>
  {% if g.get("user", None) != None %}
  <div class="user-status">
    <div class="user-status__username">
      <div style="font-weight: bold">{{ g.user.real_name }}</div>
      <div>{{ g.user.role|user_role }}</div>
    </div>
    <div>
      <a class="link" href="/logout?next={{ request.base_url }}" style="color: white">
        <i class="bi-box-arrow-right" style="margin-right: 8px"></i>Выйти
      </a>
    </div>
  </div>
  {% else %}
  <div class="user-status">
    <div class="user-status__username">
      <div style="font-weight: bold">Анонимный пользователь</div>
      <div>Ограниченный доступ</div>
    </div>
    <div>
      <a class="link" href="/login" style="color: white">
        <i class="bi-person" style="margin-right: 8px"></i>Войти
      </a>
    </div>
  </div>
  {% endif %}
</nav>
<div class="base__content-container">
  {% block breadcrumbs %} {% endblock %}
  <hr />
  {% block content %}{% endblock %}
</div>
{% endblock %}
